.headerContainer {
  height: 6.6rem;
}

.headerContent {
  max-width: 760px;
  height: 6.6rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
  }
}
